[submodule "frontend"]
	path = frontend
	url = https://github.com/RyazanHack/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/RyazanHack/backend
[submodule "s3-worker"]
	path = s3-worker
	url = https://github.com/RyazanHack/s3-worker

